.hero {
  position: relative;
  max-width: 100vw;
  background-color: rgb(228, 94, 94);

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    // max-width: 729px;
    // margin-left: auto;
    // margin-right: auto;
    background-color: rgb(163, 245, 11);
  }

  @media screen and (min-width: 1280px) {
    max-width: 100vw;
    background-color: rgb(79, 40, 253);
  }

  @media screen and (min-width: 1355px) {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__title {
    margin-bottom: 20px;
    font-family: var(--raleway);
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--light-text-color);

    @media screen and (min-width: 1200px) {
      font-size: 72px;
      line-height: 1.18;
    }
  }

  & .title-lable {
    color: rgba(157, 164, 189, 0.6);
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 31px;
  transform: translateY(-50%);
  max-width: 280px;
  font-size: 16px;
  line-height: 1.62;
  color: var(--dark-bg-text-color);

  @media screen and (min-width: 480px) {
    width: calc(100% / 4 * 3);
    max-width: 306px;
  }

  @media screen and (min-width: 768px) {
    left: 120px;
    width: calc(100% / 6 * 3);
    max-width: 355px;
  }

  @media screen and (min-width: 1200px) {
    left: 100px;
    max-width: calc((100% / 11) * 5);
    max-width: 500px;
  }
}

.hero__sitebar {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    order: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 159px;
    padding-bottom: 40px;
    background-color: #fff;
  }

  @media screen and (min-width: 1200px) {
    order: 1;
    width: 155px;
    margin-left: 50px;
  }
}

.hero__socials-list {
  display: flex;
  transform: rotateZ(-90deg) translateX(50%);
  background-color: #fff;
}

.hero__socials-list__item:not(:last-child) {
  margin-right: 40px;
}
