.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 32px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;

  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
}

.page-header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 31px;
  padding-right: 31px;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
  }
}

.backdrop {
  @media screen and (max-width: 767.98px) {
    transform: translateX(0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(25, 28, 38, 0.2);
    display: flex;
    justify-content: flex-end;
    opacity: 1;
    transition: transform 200ms linear, opacity 100ms linear;
  }

  flex-basis: 83%;
}

.backdrop.is-hidden {
  @media screen and (max-width: 767.98px) {
    transform: translateX(100%);
    opacity: 0;
  }
}

.header-content {
  @media screen and (max-width: 767.98px) {
    background-color: #fff;
    width: 300px;
    height: 100vh;
    padding-top: 100px;
    padding-left: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    flex-basis: calc((100% / 12) * 11 - 80px);
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767.98px) {
    &__item:first-child {
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 1.38;
    }

    &__item .link {
      color: var(--title-color);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    align-items: center;

    &__item:first-child {
      order: 2;
      margin-top: 20px;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.contacts-btn {
  color: var(--light-text-color);
  display: inline-block;
}
