.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 32px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;

  & .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-content {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% / 12) * 11 - 80px);
    display: flex;
    justify-content: space-between;
  }
}

.contacts-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 40px;
  }
}

.contacts-btn {
  color: var(--light-text-color);
}
