.prices {
  color: var(--dark-bg-text-color);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/price/mobile/price-bg.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/price/mobile/price-bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/price/desktop/price-bg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/desktop/price-bg@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/price/desktop/price-bg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/price/desktop/price-bg@2x.png);
    }
  }
}

.price__wrapp {
  @media screen and (max-width: 1279.98px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.prices .section-title {
  margin-bottom: 44px;
}

.price__list {
  padding: 30px 40px;
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );

  @media screen and (min-width: 1280px) {
    flex-basis: 50%;
    margin-bottom: 50px;
  }
}

.price__list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price__item {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 479.98px) {
    font-size: 14px;
  }
}

.price__item-serv {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.price__item-serv::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.btn-wrapp {
  margin-top: 0;
  text-align: center;
}
