.reserve {
  max-width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    justify-content: flex-end;
  }
}

.form__reserve {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__field-wrapper {
  position: relative;
  margin-bottom: 44px;
  flex-basis: calc((100% - 30px) / 2);
}

.form__field-wrapper--text {
  flex-grow: 1;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 200ms linear;
}

.form__field-wrapper:focus-within .form__field-label {
  color: var(--accent-color);
  transform: translateY(-30px);
}

.form__field {
  display: block;
  width: 100%;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #fff;
}

.form__field--text {
  resize: none;
}

.form__button-wrapper {
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
  flex-basis: 100%;
}
