.menu-button {
  line-height: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__icon {
  width: 40px;
  height: 40px;
  fill: var(--light-text-color);

  .menu-button:hover &,
  .menu-button:focus & {
    fill: var(--accent-color);
  }
}

.menu-button__icon--close {
  position: absolute;
  top: 48px;
  right: 30px;
  fill: var(--title-color);
}
