html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--open-sans);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  min-width: 160px;
  padding: 12px 20px;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  color: var(--title-color);
  background-color: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.title {
  font-family: var(--raleway);
  font-weight: 700;
}

.section-title {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox-item {
  flex-basis: calc((100% - 30px) / 2);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  width: calc((100% - var(--bloks)) / var(--bloks));
  margin-left: 30px;
  margin-top: 30px;
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.dark-bg .title,
.dark-bg .btn {
  --title-color: #ffffff;
}

.dark-bg .title-lable {
  --title-color: rgba(157, 164, 189, 0.6);
}

address {
  font-style: normal;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.socials-icons {
  display: inline-flex;
}

.line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
